<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>动态并行传输</title>
    	<script src='lib/jquery.min.js'></script>
    	<script src='lib/highstock.js'></script>
    	<script src="lib/bootstrap.min.js" type="text/javascript"></script>
    	<link rel="stylesheet" type="text/css" href="css/bar.css">
		<link href="css/bootstrap.css" rel="stylesheet">
		<style>
		#captureDiv{
			width: 150px;
			margin:20px auto;
		}
		#captureImg{
			margin-top: 150px;
			width: 100%;
			height: 500px;
		}
		</style>
	</head>
	<body>
		<header>
		<div id="head">
			<span>动态并行传输</span>
				<ul id="nav">
					<li><a href="/">文件搜索</a></li>
					<li><a href="/transfer">文件传输</a></li>
					<li><a href="#">实时速率</a></li>
				</ul>
			<% if(locals.user){ %>
			<span class='user'><a href='/user/signout'>你好<%=user.name%>,退出</a></span>
			<% }else{ %>
			<span id="signinbtn" class='user'>登录</span>
			<span id='signupbtn' class='user'>注册</span>
			<% } %>
		</div>
	</header>
		<div id="cover"></div>
		<div class="mymodal" id="signin">
			<h1>用户登录</h1>
			<form action="/user/signin" method="POST">
				<div>
					<label>用户名：</label>
					<input type="text" name="user[name]" required><br>
				</div>
				<div>
					<label>密码：</label>
					<input type="password" name="user[password]" required><br>
				</div>
				<div style="width:200px;margin-top:60px">
					<button type='submit' class="btn btn-primary">提交</button>
					<button type='button' class="btn btn-primary">退出</button>
				</div>
			</form>
		</div>
		<div class="mymodal" id="signup">
			<h1>用户注册</h1>
			<form action="/user/signup" method="POST">
				<div>
					<label>用户名：</label>
					<input type="text" name="user[name]" required><br>
				</div>
				<div>
					<label>密码：</label>
					<input type="password" name="user[password]" required><br>
				</div>
				<div style="width:200px;margin-top:60px">
					<button type='submit' class="btn btn-primary">提交</button>
					<button type='button' class="btn btn-primary">退出</button>
				</div>
			</form>
		</div>
		<% if(locals.user){ %>
		<div id="captureImg"></div>
		<div id="captureDiv">
           	<button type="button" class="btn btn-primary" id="start">启动</button>
           	<button type="button" class="btn btn-danger">停止</button>
           </div>
		<% }%>
		<script>
			if($('#signinbtn')){
				$('#signinbtn').click(function(){
					$('#cover').css('display',"block");
					$('#signin').css('display',"block");
				});
				$('#signupbtn').click(function(){
					$('#cover').css('display',"block");
					$('#signup').css('display',"block");
				});
				$('#signin button:nth-child(2)').click(function(){
					$('#cover').css('display',"none");
					$('#signin').css('display',"none");
				});
				$('#signup button:nth-child(2)').click(function(){
					$('#cover').css('display',"none");
					$('#signup').css('display',"none");
				});
			}

			Highcharts.setOptions({
    			global:{
    				useUTC:false
    				}
    		});
    		var capture;
    		var timer1=setInterval(function(){
				$.ajax({
					url:'/captureData',
					cache:false,
					success:function(data){
						capture=data;
						for(var i in capture){
							if(Array.isArray(capture[i])){
								capture[i].shift();
							}
						}
						console.log(capture);
					}
				})
			},3000);

$('#captureImg').highcharts('StockChart', {
	chart: {        
			events: {                                                   
				load: function(){													
					// set up the updating of the chart each second             
					// var series = this.series[0];
					// timer2=setInterval(function() {                     
					// 	series.setData(capture.line1.em1);  
					// }, 4000);
                    var series=[];
                    for(var i=0;i<this.series.length;i++){
                        series[i]=this.series[i];
                    }
                    //自动匹配网卡的名字
                    timer2=setInterval(function(){
                        for(var j=0;j<series.length;j++){
                            series[j].setData(capture[series[j].name]);
                        }
                    },3000);                                                 
				}                                                               
			}                                                                   
		},
    rangeSelector : {
        enabled:false
    },
    title : {
    	text : '流量速率'
    },
    legend: {
        enabled: true                                             
	},
	yAxis: {  
		title: {   
			text: '传输速率--Mb/s'                          
		},       
		tickInterval:10                  
	},
	credits:{
		enabled:false
	},
        series:[{
        name:'p5p2',
        data:[[(new Date()).getTime(),0]]
    },
    {
        name:'em1',
        data:[[(new Date()).getTime(),0]]
    },
    {
        name:'em2',
        data:[[(new Date()).getTime(),0]]
    }]
});

    $('#captureDiv button:first-child')[0].onclick=function(){
    	$.ajax({
    		url:'/captureStart',
    		data:{
    			message:"start"
    		},
    		success:function(data){
                alert(data);
            }
    	});
        clearInterval(timer1);
        timer1=setInterval(function(){
            $.ajax({
                url:'/captureData',
                cache:false,
                success:function(data){
                    capture=data;
                    for(var i in capture){
						if(Array.isArray(capture[i])){
							capture[i].shift();
						}
					}
                    console.log(capture);
                    }
                })
            },3000);
    };   

    $('#captureDiv button:nth-child(2)').click(function(){
        var stop=confirm('确认停止？');
        if(stop){
    	   $.ajax({
    		  url:'/captureStop',
    		  data:{
    			 message:"stop"
    		  },
    		  success:function(data){
    			alert(data);
    			capture={};
    			clearInterval(timer1);
    		  }
    	   })
        }
    });
		</script>
	</body>
</html>